
/* ====================================
        CONFIG
=======================================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:wght@400;600&display=swap');

html, body {
    height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

:root{
    --cor-default: #F5F5F5;
    --cor-menu: #F5F5F5;
    --cor-title: #D1AF6D;
    --cor-text: #741f1f;
    --cor-footer: #000000;
    --wine: #741f1f;
  }

*{
    /* font-size: 15px; */
    background-color: var(--cor-default);
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
    font-family: 'Glacial Indifference', sans-serif;                            
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

/* ====================================
        LOGO - HEADER
=======================================*/

section.logo{
	margin: 0 auto;
	align-self: center;
}

div#logo.plogo{
    padding: 0;
}
#logo{
	margin: 0 auto;
	padding: 2rem;
}


/* ====================================
        MENU - NAVBAR
=======================================*/

p{
    font-size: 1.2rem;
}

.menu{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin: 0 auto;
    background-color: var(--cor-menu);
}

.container-fluid,
.navbar.navbar-expand-lg,
#navbarTogglerDemo01,
.navbar-toggler,
.navbar-collapse{
    background-color: var(--cor-menu);
    padding: 0.5rem;
}

div#responsive-navbar-nav.collapse.navbar-collapse.me-auto{
    display: inline;
}
.box-menu{
	margin-left: auto;
	margin-right: auto;
    align-items: center;
    background-color: var(--cor-menu);
}

.nav-link{
    margin: 0 auto;
    align-items: center;
    background-color: var(--cor-menu);
}

li.nav-item.active,
a.nav-link.active,
p.menu-text.active{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 7px;
    text-decoration-color: var(--cor-text);
    border-radius: 1rem;
}

.menu-text{
    margin: 0 auto;
    padding: 0.2rem;
    color: var(--cor-text);
    background-color: var(--cor-menu);
}
.menu-text:hover{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 7px;
    text-decoration-color: var(--cor-text);
    border-radius: 1rem;
}


/* ====================================
        FOOTER
=======================================*/

.footerComponent{
    background-color: var(--cor-footer);
    height: 8rem;
    bottom: 0;
 }

footer.footer-copyright.text-center{
    bottom: 0;
    max-height: 100%;
    display: flex;
    padding: 0px;
}

div.container-footer-img{
    background-color: var(--cor-footer);
    align-items: left;
    padding: 1rem;
    flex: 1;
}
div.container-footer-text{
    background-color: var(--cor-footer);
    align-items: right;
    padding: 1rem;
    flex: 1;
}
.rede-social{
    padding: 1rem;
    color: var(--cor-title);
    background-color: var(--cor-footer);
}

.rede-social:hover{
    transform: scale(1.2);
  }

.fontAwesome {
    background-color: var(--cor-footer);
    color: var(--cor-title);
    padding: 1rem;
    bottom: 1rem;
    font-size: 2rem;
}

.fontAwesome:hover{
    transform: scale(1.2);
    color: var(--wine);
}

.text-footer{
    background-color: var(--cor-footer);
    color: var(--cor-title);
    font-size: 1rem;
}


/* ====================================
        RESPONSIVIDADE
=======================================*/
@media (max-width: 700px) {
    h1{
        font-weight: 10px;
    }
    div.footerComponent{
        height: 20;
        bottom: 0;
    }
    footer.footer-copyright.text-center{
        height: 20;
        bottom: 0;
        display: block; 
    }
    div.container-footer-img{
        height: 20;
        bottom: 0;
    }
  }
  
  @media only screen and (min-width: 700px) and (max-width: 1024px) {
    h1{
        font-weight: 10px;
    }
    div.footerComponent{
        bottom: 0;
    }
    footer.footer-copyright.text-center{
        height: 10rem;
        bottom: 0;
    }
    div.container-footer-img{
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .rede-social{
        padding: 0.8rem;
    }
  }
  
  @media (min-aspect-ratio: 1025px) {
    div.footerComponent{
        bottom: 0;
    }

    footer.footer-copyright.text-center{
        height: 10rem;
        bottom: 0;
    }
  }

  @media only screen and (min-width: 1200px) {
    footer.footer-copyright.text-center.py-3{
        height: 12rem;
        bottom: 0;
    }
  }
  